.task {
  // .task__form

  &__form {
  }

  // .task__block

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .task__label

  &__label {
    
    background: #ffffff;
    width: 80vh;
    height: 7vh;
    padding: 7px 7px;
    outline: none;
    resize: none;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid lightgrey;
    &:focus {
      background-color: rgb(104, 255, 169);
    }
    
  }

  // .task__input-field

  // &__input-field {
  //   width: 80vh;
  //   height: 7vh;
  //   padding: 7px 7px;
  //   outline: none;
  //   resize: none;
  //   font-size: 20px;
  //   border: none;
  //   border-bottom: 1px solid lightgrey;

  //   &:focus {
  //     background-color: rgb(104, 255, 169);
  //   }
  //   &::-webkit-scrollbar {
  //     width: 0px;
  //   }
  // }
}
