// .task__change-text

.task__change-text {
  font-size: 19px;
  border-radius: 5px;
  margin-right: 10px;
  width: 360px;
  height: 70px;
  padding: 10px;
  outline: none;
  resize: none;
  border: 1px solid seagreen;
  scrollbar-width: none;
  &::-webkit-scrollbar{
      width: 0px;
  }
  &:focus{
      background: orange;
  }
}

// .task__save-changes-btn

.task__save-changes-btn {
  padding: 6px;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.2s ease-out 0s;
  background: greenyellow;
  transition: all 0.2s ease-out 0s;
    
  &:hover {
    transform: rotate(-10deg);
  }
}

// .task__new-text

.task__new-text {
    max-width: 100%;
    line-height: 22px;
    
}
