.container {
  width: 70vw;
  margin: 0 auto;
}

.todo {
  margin-bottom: 20px;
  // .todo__form

  &__form {
    width: 100%;
    
  }

  // .todo__block

  &__block {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .todo__input-field

  &__input-field {
    flex: 0 1 60%;
    height: 10vh;
    margin-right: 5px;
    border-radius: 15px;
    font-size: 25px;
    padding-left: 15px;
    border: 2px solid #505050;
    &:focus{
      border: 2px solid #ffffff;
      box-shadow: 0 0 5px 3px yellow;
    }
  }



  
}
